.sidebar {
  width: 250px;
  background: #ffffff;
  color: #000000;
  display: flex;
  flex-direction: column;
  border:1.5px solid #e7e7e7;
  padding-top: 18px;
  padding-right: 10px;
}

.logo {
  color: #000000;
  font-size: 22px;
  font-weight: 700;
  padding: 0 18px 18px 18px;
}

.menu {
  flex: 1;
  padding-top: 10px;
}

.menuItem {
  display: flex;
  align-items: center;
  padding: 8px 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.menuItem:hover {
  color: #000000;
  background: #e3e5e7;
}

.active {
  background: #000000;
  color: #fff !important;
}

.active:hover {
  background: #000000;
  color: #fff !important;
}